<div class="column is-8">
    <div class="field has-addons">
        <div class="control has-icons-left search">
            <input class="input" type="text" placeholder="Search for a movie by title" id="searchTerm"
                onkeydown="if(event.keyCode == 13) searchMovies()" data-cy="search-movies-input">
            <span class="icon is-medium is-left">
                <i class="fa fa-search"></i>
            </span>
        </div>
        <div class="control">
            <a class="button is-info" onclick="searchMovies()" data-cy="search-movies-btn">
                <span class="icon"><i class="fas fa-search"></i></span><span>Search</span>
            </a>
        </div>
    </div>
</div>

<script>
    function searchMovies() {
        const searchTerm = document.getElementById("searchTerm").value;
        location.href = `/dashboard?search=${searchTerm}`;
    }

    function deleteAllShows() {
        const proceed = confirm(
            "This will delete ALL of your movies and their associated points. Are you sure you wish to proceed?");
        // if user clicks confirm direct to delete all shows endpoint
        if (proceed) {
            // remove prepending #moviForm and search term if present
            location.href = location.href.split("#")[0].split('?')[0] += "/deleteallshows";
        }
    }
</script>