<section class="hero is-fullheight is-link is-small">
    <div class="hero-body">
        <div class="container">
             <p class="title has-text-centered"><span class="icon"><i class="fas fa-ghost"></i></span></p>
            <h1 class="title has-text-centered">
                Page Not Found
            </h1>
            <p class="subtitle has-text-centered mt-3">
                    <a href="/dashboard"><button class="button is-white">Go to Dashboard</button></a>
                </p>
        </div>
    </div>
</section>


