{{> menu }}
<h1>Account Details for {{ user.firstName }} {{ user.lastName }}</h1>
{{#if user.avatar}}
<section>
    <figure class="image is-128x128">
        <img class="is-rounded" src={{user.avatar}} style="width: 128px; height: 128px; object-fit: cover">
    </figure>
    <a href="/account/deleteavatar">
        <button class="button is-link is-danger">
            <span class="icon"><i class="fas fa-trash"></i></span><span>Remove Avatar</span>
        </button>
    </a>
</section>
{{/if}}
<section class="section">
    {{> image-upload-form }}
</section>

<section class="section">
    {{> account-form }}
</section>

<section class="section">
    <a href="/account/deleteaccount">
        <button class="button is-link is-danger">
            <span class="icon"><i class="fas fa-fire"></i> </span><span>Delete Account</span>
        </button>
    </a>
</section>
</section>