{{> common/heading heading="Dashboard"}}

<section class="dashboard mt-6 pb-6">
    {{> common/errormsg }}
    {{#if shows}}
        <!-- List Shows -->
        {{> dashboard/search-shows }}
        {{> dashboard/list-shows }}
    {{else}}
        <!-- No Results Found -->
        {{#if noShowsMessage}}
            {{> dashboard/search-shows }}
            {{> common/message title="No Search Results" message=noShowsMessage}}
        {{else}}
            {{> common/message title="No Movies" message="You currently have no movies, you can create one by using the form below."}}
        {{/if}}
    {{/if}}
    <!-- Create Movie Form -->
    <div class="mt-6">
    {{> forms/show-form formTitle="Create Movie" formIcon="plus" postUrl="/dashboard/addshow" btnTitle="Create Movie"}}
    </div>
</section>