{{> heading heading="Dashboard"}}

<section class="dashboard mt-6 pb-6">
    {{#if shows}}
        {{> search-shows }}
        {{> list-shows }}
    {{else}}
        {{#if noShowsMessage}}
            {{> search-shows }}
            {{> message title="No Search Results" message=noShowsMessage}}
        {{else}}
            {{> message title="No Movies" message="You currently have no movies, you can create one by using the form below."}}
        {{/if}}
    {{/if}}
    <div class="mt-6">
    {{> show-form formTitle="Create Movie" formIcon="plus" postUrl="dashboard/addshow" btnTitle="Create Movie"}}
    </div>
</section>