<section class="hero is-fullheight is-default is-bold">
  <div class="hero-head">
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <h1 class="title has-text-centered">Signup to MAPFLIX</h1>
          <div class="box">
            {{> common/errormsg }}
            <!-- Signup Form -->
            <form action="/register" method="POST">
              {{> forms/user-details-fields}}
              {{> forms/user-credentials-fields }}
              <button class="button is-success is-fullwidth">Create Account</button>
              <br>
              <p class="has-text-centered">Already have an account? <a href="/login" data-cy="login-redirect">Login Here</a></p>
              <hr>
              <a class="button is-link is-dark is-fullwidth" href="/login-github"><span class="icon"><i class="fa-brands fa-github"></i></span><span> Continue with Github</span></a>
            </form>
          </div>
        </div>
        <div class="column is-6 is-offset-1">
          <figure class="image is-4by3">
            <img class="object-fit" src="/img/movie-location-alt.jpg" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>