<section class="hero is-fullheight is-default is-bold">
  <div class="hero-head">
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <h1 class="title has-text-centered">Signup to MAPFLIX</h1>
          <div class="box">
            {{> errormsg }}
            <form action="/register" method="POST">
              {{> user-details-fields}}
              {{> user-credentials-fields }}
              <button class="button is-success is-fullwidth">Create Account</button>
              <br>
              <p class="has-text-centered">Already have an account? <a href="/login">Login Here</a></p>
            </form>
          </div>
        </div>
        <div class="column is-6 is-offset-1">
          <figure class="image is-4by3">
            <img src="/img/movie-location-alt.jpg" style="object-fit: cover" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>