{{> common/heading heading="Welcome to Mapflix"}}

<section class="dashboard mt-6 pb-6">
    <h1 class="title has-text-centered">Welcome back {{displayName}}!!</h1>
    <figure class="image is-128x128" style="margin: 0 auto">
        <img class="is-rounded" src="{{imgUrl}}">
    </figure>
    <br>
    <a href="/dashboard"><button class="button is-success is-fullwidth">Manage Movies</button></a>
    <br>
    <a href="/account"><button class="button is-warning is-fullwidth">Manage Account</button></a>
</section>