{{> errormsg }}
<form action="/dashboard/addshow" method="POST">
    <div class="field">
      <label class="label">Show Title</label>
      <input class="input" type="text" placeholder="Enter show title" name="title">
    </div>
    <div class="field">
      <label class="label">Show IMDB ID</label>
      <input class="input" type="text" placeholder="Enter imdb id (tt123456)" name="imdbId">
    </div>
    <button class="button is-link">Create Show</button>
  </form>
