{{> errormsg }}
<form action="/show/{{show._id}}/point/{{point._id}}/update" method="POST">
    {{> point-form-common }}
    <div class="field is-grouped">
      <button class="button is-link">Update Point</button>
    </div>
</form>
