<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
    <div>
      <i class="fas fa-map-marker-alt"></i> <i class="fas fa-video"></i>
    </div>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/logout">
            Log Out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>