<form action="/show/{{show._id}}/addpoint" method="POST" id="createPointForm">
    {{> point-form-common }}
    <div class="field is-grouped">
      <button class="button is-link">Add Point</button>
    </div>
</form>
