<nav class="navbar is-full-width">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/dashboard">
        <span class="icon"><i class="fas fa-map-marker-alt"></i></span><span class="icon mr-1"><i
            class="fas fa-film"></i></span><span><strong>MAPFLIX</strong></span>
      </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/dashboard">
          Dashboard
        </a>
        <a class="navbar-item" href="/my-movies">
          My Movies
        </a>
        {{#if user.isAdmin}}
        <a class="navbar-item" href="/admin">
          Admin
        </a>
        {{/if}}
        <a class="navbar-item" href="/account">
          Account
        </a>
        <a class="navbar-item" href="/logout">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>