<div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
        <input class="input" type="text" placeholder="Email" name="email" value="{{values.email}}" data-cy="email-input" />
        <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
        </span>
    </div>
</div>
{{#unless hidePassword}}
<div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left">
        <input class="input" type="password" placeholder="Password" name="password" value="{{values.password}}" data-cy="password-input"/>
        <span class="icon is-small is-left">
            <i class="fa fa-key"></i>
        </span>
    </div>
</div>
{{/unless}}