<div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
        <input class="input" type="email" placeholder="Email" name="email" value="{{values.email}}" minlength="1" maxlength="50" />
        <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
        </span>
    </div>
</div>

<div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left">
        <input class="input" type="password" placeholder="Password" name="password" value="{{values.password}}" minlength="8" maxlength="50" />
        <span class="icon is-small is-left">
            <i class="fa fa-key"></i>
        </span>
    </div>
</div>